<div class="col-md-12">
  <div class="mymoive">
    <span class="pull-right">
      <% if current_user && current_user.is_favorite_of?(@mymoive) %>
        <label class="label label-success"> 已收藏 </label>
        <%= link_to("取消收藏", cancle_mymoife_path(@mymoive), method: :post, class: "btn btn-default") %>
      <% else %>
        <label class="label label-warning"> 未收藏 </label>
        <%= link_to("收藏影片", like_mymoife_path(@mymoive), method: :post, class: "btn btn-default") %>
      <% end %>
    </span>

    <%= link_to("写影评", new_mymoife_review_path(@mymoive), class: "btn btn-default pull-right")%>

    <% if current_user && current_user == @mymoive.user %>
      <%= link_to("编辑", edit_mymoife_path(@mymoive), class: "btn btn-primary pull-right")%>
    <% end %>
  </div>
  <h2><%= @mymoive.name %></h2>
  <p><%= @mymoive.description %></p>

  <table class="table">
    <thead>
     <tr>
        <th>评价内容</th>
        <th>评价者</th>
        <th>评价时间</th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td><%= review.content %></td>
          <td><%= review.user.email %></td>
          <td><%= review.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= will_paginate @reviews %>
  </div>
</div>
